.container {
  padding: 0 50px;
  padding-top: 50px;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.nurseWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 8px 12px;
  border: none;
  background: #6200ea;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background: #3700b3;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    padding: 0 18px;
    margin-top: 60px;
  }
  .nurseWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
