.formDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.formDetails h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form button {
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register {
  text-align: center;
  font-size: 14px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 10px 0;
}

.line {
  width: 220px;
  height: 2px;
  background-color: #fff;
}
.error {
  color: red;
  font-size: 14px;
}

@media (max-width: 768px) {
}
